/* CSS declarations go here */

td {
    padding: 10px;
}

table, tr, td {
    margin: auto;
    border: 1px solid #ddd;
}

textarea {
    font-family: monospace;
    width: 100%;
}

.CodeMirror {
    border: 1px solid #ddd;
    height: auto;
}

div.row {
    margin: 20px;
}